$govuk-assets-path: "/check-eori-number/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/check-eori-number/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "language-selection";
