$govuk-assets-path: "/check-eori-number/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/check-eori-number/assets/lib/hmrc-frontend/hmrc/";
$govuk-new-organisation-colours: true;


@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "language-selection";

.app-reference-number {
  display: block;
  font-weight: bold;
}